<%= form_with(model: person, local: true) do |form| %>
  <%= render "shared/form/error_msg", model: person %>

  <%= render 'shared/form/text_attr', form: form, element: :addressee, maxw: 100, autofocus: true %>
  <%= render 'shared/form/text_attr', form: form, element: :lastname, maxw: 100 %>
  <%= render 'shared/form/text_attr', form: form, element: :street, maxw: 100 %>

  <div class="flex flex-col md:flex-row">
    <%= render 'shared/form/text_attr', form: form, element: :city, maxw: 48 %>
    <%= render 'shared/form/select_attr', form: form, element: :state ,
                    collection: @person.options_for_state_select,
                    selected: @person.state,
                    maxw: 14 %>
    <%= render 'shared/form/text_attr', form: form, element: :zip, maxw: 32 %>
  </div>

  <%= render 'shared/form/textarea_attr', form: form, element: :note, size: "100x3" %>

  <%= render 'shared/form/submit_cncl', form: form, cnclpath: people_path %>
<% end %>
