<div id="<%= dom_id person %>">
  <p>
    <strong>Firstname:</strong>
    <%= person.firstname %>
  </p>

  <p>
    <strong>Middlename:</strong>
    <%= person.middlename %>
  </p>

  <p>
    <strong>Lastname:</strong>
    <%= person.lastname %>
  </p>

  <p>
    <strong>Nickname:</strong>
    <%= person.nickname %>
  </p>

  <p>
    <strong>Birthday:</strong>
    <%= person.birthday %>
  </p>

  <p>
    <strong>Birthmonth:</strong>
    <%= person.birthmonth %>
  </p>

  <p>
    <strong>Birthyear:</strong>
    <%= person.birthyear %>
  </p>

  <p>
    <strong>note:</strong>
    <%= person.note %>
  </p>

</div>
