<% content_for :title, "People" %>

<div class='flex flex-row items-center justify-center'>
  <div class='mb-5 mx-2'>
    <div class="flex flex-row justify-between">
      <h1 class="font-sans font-bold text-2xl">People</h1>
    </div>

    <%= form_with model: @query, scope: :query, url: people_path, method: :get do |form| %>
      <div class="flex flex-col md:flex-row">
        <%= render 'shared/form/text_attr', form: form, element: :addressee_contains, maxw: 48 %>
        <%= render 'shared/form/text_attr', form: form, element: :lastname_contains, maxw: 48 %>
      </div>

      <div class="flex flex-col md:flex-row">
        <%= render 'shared/form/text_attr', form: form, element: :city_equals, maxw: 48 %>
        <%= render 'shared/form/select_attr', form: form, element: :state_equals,
                        collection: @query.options_for_state_select,
                        blank: true,
                        selected: '',
                        do_not_edit: false,
                        maxw: 14 %>
        <%= render 'shared/form/text_attr', form: form, element: :zip_equals, maxw: 32 %>
      </div>

      <%= submit_tag "Search" %>
    <% end %>

    <div id="people">
      <%= render "shared/table", collection: @people, head: 'head', item_row: 'row' %>
    </div>

    <br>
    <%== pagy_nav(@pagy) if @pagy.pages > 1 %>

    <hr class="mt-1 border-1 border-gray-700" />
    <br>

    <div class="flex flex-row justify-between">
      <%= link_to "New Person", new_person_path, class: "td-emphasized link-hover", autofocus: true %>
      <%= link_to "Proof list", list_path, class: "td-emphasized link-hover" %>
      <%= link_to "Labels", labels_path, class: "td-emphasized link-hover" %>
    </div
  </div>
</div>