<% content_for :title, "People" %>

<div class='flex flex-row items-center justify-center'>
  <div class='mb-5'>
    <p style="color: green" class="mb-4"><%= notice %></p>

    <div class="flex flex-row justify-between">
      <h1 class="font-sans font-bold text-2xl">People</h1>
    </div>

    <div id="search" class="bg-gray-50">
      <%= form_with model: @query, scope: :query, url: people_path, method: :get do |form| %>
        <div class="grid grid-cols-3 gap-x-4 mb-4">
          <%= render 'shared/form/search_txt_attr', form: form, element: :lastname_starts_with, autofocus: true %>
          <%= render 'shared/form/search_txt_attr', form: form, element: :addressee_contains %>
          <%= render 'shared/form/search_submit_cncl', form: form, cnclpath: people_path %>
          <%= render 'shared/form/search_txt_attr', form: form, element: :city_contains %>
          <%= render 'shared/form/search_select', form: form, element: :state_is,
                          collection: Person::Query.state_select_opts %>
          <%= render 'shared/form/search_txt_attr', form: form, element: :zip_is %>
        </div>
      <% end %>
    </div>

    <div id="people">
      <%= render "shared/table", collection: @people, head: 'head', item_row: 'row' %>
    </div>

    <br>
    <%== pagy_nav(@pagy) if @pagy.pages > 1 %>

    <hr class="mt-1 border-1 border-gray-700" />
    <br>

    <div class="flex flex-row justify-between">
      <%= render 'shared/button', btnpath: new_person_path, btntxt: "New Person", btnclass: "edit-button" %>
    </div>
  </div>
</div>