<div class="flex flex-col">
  <p style="color: green" class="mb-4"><%= notice %></p>

  <div class='grid grid-rows-auto'>
    <div class='row-start-1 max-h-fit'>

      <div class='grid auto-rows-min grid-rows-auto'>
        <header class='row-start-1'>
          <h1 class="mb-2 text-2xl font-sans font-bold">Person Detail</h1>
        </header>

        <div class='row-start-2 h-fit mb-3'>
          <%= render "shared/attrib_wide", attribute: @person.fullname, label: 'Person' %>
        </div>

        <div class='row-start-3 h-fit mb-3'>
          <%= render "shared/attrib_wide", attribute: @person.complete_address, label: 'Address' %>
        </div>

        <div class='row-start-4 h-fit w-full mb-3'>
          <%= render "shared/attrib_wide", attribute: @person.note, label: 'Note' %>
        </div>
      </div>
    </div>

    <div class='row-start-2 h-fit my-3'>
      <div class="flex flex-row justify-between">
        <%= render 'shared/button', btnpath: edit_person_path(@person), btntxt: "Edit", btnclass: "edit-button", autofocus: true %>
        <%= render 'shared/button', btnpath: people_path, btntxt: "Back", btnclass: "back-button" %>
        <%= render 'shared/button_delete', btnpath: person_path(@person), btntxt: "Delete", btnclass: "delete-button" %>
      </div
    </div>
  </div>

</div>
