<div class='grid auto-rows-min grid-rows-auto'>
  <div class='row-start-1 h-fit'><%= person.fullname %></div>
  <div class='row-start-2 h-fit'><%= person.street %></div>
  <div class='row-start-3 h-fit'><%= person.label_csz %></div>
  <div class='row-start-4 h-fit'><%= person.email %></div>
  <div class='row-start-5 h-fit'><%= person.phone %></div>
  <div class='row-start-6 h-fit'><%= "Prefer: #{person.pref_method}" %></div>
  <div class='row-start-6 h-fit'><%= person.status %></div>
  <div class='row-start-7 h-fit'><%= "." %></div>
  <div class='row-start-8 h-fit'><%= "--------------------" %></div>
</div>
