<%= form_with(model: address) do |form| %>
  <%= render "shared/form/error_msg", model: address %>

  <%= render 'shared/form/select_attr', form: form, element: :person_id,
              collection: Person.select_collection,
              selected: address.person_id,
              blank: true,
              do_not_edit: editing %>

  <%= render 'shared/form/text_attr', form: form, element: :street1, maxw: 100 %>
  <%= render 'shared/form/text_attr', form: form, element: :street2, maxw: 100 %>

  <div class="flex flex-col md:flex-row">
    <%= render 'shared/form/text_attr', form: form, element: :city, maxw: 48 %>
    <%= render 'shared/form/text_attr', form: form, element: :state, maxw: 14 %>
    <%= render 'shared/form/text_attr', form: form, element: :zip, maxw: 32 %>
  </div>

  <%= render 'shared/form/checkbox_attr', form: form, element: :preferred %>

  <div class="ml-4">
  <%= form.submit %>
<div>
<% end %>
