<div class="flex flex-col items-center justify-center">
  <p style="color: green" class="mb-4"><%= notice %></p>

  <div class='grid grid-rows-auto'>
    <div class='row-start-1 max-h-fit'>

      <div class='grid auto-rows-min grid-rows-auto'>
        <header class='row-start-1'>
          <h1 class="mb-2 text-2xl font-sans font-bold">Address Detail</h1>
        </header>

        <div class='row-start-2 h-fit mb-3'>
          <%= render "shared/attrib_wide",
            attribute: @address.person.fullname, label: 'Person'
          %>
        </div>

        <div class='row-start-3 h-fit mb-3'>
          <%= render "shared/attrib_wide",
            attribute: @address.complete_address, label: 'Address'
          %>
        </div>

        <div class='row-start-4 h-fit mb-3'>
          <%= render "shared/attrib",
            attributes: [
             {attribute: @address.primary, label: 'Preferred'},
            ]
          %>
        </div>
      </div>
    </div>

    <div class='row-start-2 h-fit my-3'>
    <%= link_to "Edit this address", edit_address_path(@address) %> |
    <%= link_to "Back to addresses", addresses_path %>
    <br><br>
    <%= button_to "Destroy this address", @address, method: :delete %>
      </div>
  </div>

</div>
