<div class="max-w-4xl mb-5">
  <h1 class="text-2xl font-sans font-extrabold">Edit Address</h1>

  <%= form_with(model: @address, local: true) do |form| %>
    <div class="mx-4 mb-5 min-w-0">
      <%= form.label :person %>
      <%= form.text_field :person,{ class: 'disabled-txt-field py-3 ring', disabled: true }) %>
    </div>

    <div class="mx-4 mb-5 min-w-0">
      <%= form.label :street1 %>
      <%= form.text_field :street1, { class: 'base-field ring', disabled: false }) %>
    </div>

    <div class="mx-4 mb-5 min-w-0">
      <%= form.label :street2 %>
      <%= form.text_field :street2, { class: 'base-field ring', disabled: false }) %>
    </div>


    <%= form.submit %>
  <% end %> <!-- form -->
</div>
